<footer class="site-footer">
    <section class="copyright">
        &copy; 
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} - 
        {{ end }}
        {{ now.Format "2006" }} {{ default .Site.Title .Site.Copyright }}
    </section>
    
    <section class="powerby">
        <div class="footer-motto">
            <span class="motto-zh">記錄 · 反思 · 學習</span>
            <span class="motto-en">Record · Reflection · Learning</span>
        </div>
    </section>
</footer>

<style>
/* 引入哥特體字體 (UnifrakturMaguntia) */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.site-footer .powerby {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; /* 居中對齊，若需靠左可改為 flex-start */
}

.footer-motto {
    text-align: center; /* 確保兩行文字水平居中對齊 */
}

.footer-motto .motto-zh {
    font-size: 1.2em; /* 增大字號 */
    font-family: "Kaiti", "STKaiti", "楷体", "楷体_GB2312", serif; /* 優先使用楷體 */
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

.footer-motto .motto-en {
    font-size: 1.3em; /* 哥特體適當放大以匹配中文視覺大小 */
    font-family: 'UnifrakturMaguntia', serif;
    font-style: italic; /* 斜體 */
    display: block;
    margin-top: 2px;
}
</style>
